#modal-wrapper{		// this wrapper must not have any css
  .backdrop{
    z-index: 1300;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    background: #333;
  }
  .modal {
    z-index: 1301;
    position: fixed;
    top: 30%;
    left: 50%;
    width: 800px;
    max-height: 500px;
    margin-left: -400px;
    margin-top: -150px;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    background: #fff;
    .close{
      position: absolute;
      top: 0.2em;
      right: 0.2em;
      font-size: 2.0em;
      color: #333333;
    }
  }
}
